#files
firebase-messaging-sw.js
test.pdf
Thumbs.db
update.php
.env
global_pass.php
log.log
cron.log
cron/workers/last_backup
export/xml/cian/feed.xml
export/xml/yandex/feed.xml

#folders
uploads/
docker/mysql/data
docker/nginx/logs
.idea
